
body {
    background-color: black;
    color: white;
}

textarea {
    width: 50%;
    min-width: 20em;
    max-width: 100%;
    min-height: 5em;
}

p {
    margin: 0;
}

div#typediv, textarea#input, input#submit, input#checkbox-base64, input#title {
    margin-bottom: 1em;
}