@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

textarea {
  width: 50%;
  min-width: 20em;
  max-width: 100%;
  min-height: 5em;
}

p {
  margin: 0;
}

p#lengthwarn {
  color: red;
}

div#typediv,
textarea#input,
input#submit,
input#title {
  margin-block: 0.5em;
}

input#submit:has(+input#checkbox-autosubmit:checked) {
  display: none;
}

textarea#input:has(input#radio-file:checked) {
  display: none;
}

div#fileupload {
  display: none;
}

form#form:has(input#radio-file:checked) {

  div#inputdiv {
    display: none;
  }

  div#fileupload {
    display: unset;
  }
}
