:root {
  color-scheme: light dark;
}

textarea {
  width: 50%;
  min-width: 20em;
  max-width: 100%;
  min-height: 5em;
}

p {
  margin: 0;
}

p#lengthwarn {
  color: red;
}

div#typediv,
textarea#input,
input#submit,
input#title {
  margin-block: 0.5em;
}

input#submit:has(+input#checkbox-autosubmit:checked) {
  display: none;
}

textarea#input:has(input#radio-file:checked) {
  display: none;
}

div#fileupload {
  display: none;
}

form#form:has(input#radio-file:checked) {

  div#inputdiv {
    display: none;
  }

  div#fileupload {
    display: unset;
  }
}

p#urlpreview {
  display: none;
}

form#form:has(input#radio-redirect:checked,
  input#radio-iframe:checked) p#urlpreview {
  display: unset;
}

div#datauridiv,
p#bookmarkletinfo {
  display: none;
}

body:has(input#radio-file:checked,
  input#radio-html:checked,
  input#radio-text:checked,
  input#radio-script:checked) {
  div#datauridiv {
    display: unset;
  }

  &:has(input#checkbox-datauri:checked) {
    div#titlediv {
      display: none;
    }

    input#openlink {
      display: none;
    }

    &:has(input#radio-script:checked) {
      p#bookmarkletinfo {
        display: unset;
      }
    }
  }
}
